#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export VERSION=$(shell dpkg-parsechangelog | grep ^Version: | cut -f 2 -d " " | sed "s/-[^-]*$$//")
export JAVA_HOME=/usr/lib/jvm/default-java
export JAVA=$(JAVA_HOME)/bin/java
export JAR=$(JAVA_HOME)/bin/jar
export JAVAC=$(JAVA_HOME)/bin/javac

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp  
	dh_testdir
	ant sphinx4_jar batch_jar javadoc
	touch $@

clean: 
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	ant clean
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep  
	dh_installdirs
	mkdir -p debian/libsphinx4-java/usr/share/java
	cp lib/sphinx4.jar debian/libsphinx4-java/usr/share/java/sphinx4-${VERSION}.jar
	cp lib/batch.jar debian/sphinx4-utils/usr/share/java/sphinx4-batch-${VERSION}.jar
	install -m755 debian/sphinx4_batch debian/sphinx4-utils/usr/bin/sphinx4_batch
	dh_install

# Build architecture-independent files here.
binary-arch: install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-indep: install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_link /usr/share/java/sphinx4-${VERSION}.jar /usr/share/java/sphinx4.jar
	ln -s ../libsphinx4-java/api debian/libsphinx4-java-doc/usr/share/doc/libsphinx4-java-doc/api
	dh_link -p sphinx4-utils /usr/share/java/sphinx4-batch-${VERSION}.jar /usr/share/java/sphinx4-batch.jar
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
